@import 'src/components/styles/mixins';
.headersLinks{
  align-self: center;
  @media screen and (max-width: 740px) {
    display: none;
  };

}
.headersLinks a{
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 13px;
  transition: 0.7s;
  font-family: Montserrat;
  &:hover{
    color: #f39d3e;

  }
  @include text(700, 18px, 110%, #101010);
  @media screen and (max-width: 750px) {
    font-size: 18px;
  };

  .headersLink a.active{
    color: #000;
  }

}