@import '../common/mixins.scss';

.greatingPage {
  background-color: gray;
  border-radius: 30px;
  height: 197px;
  display: flex;
  justify-content: center;


  .greatingName {
    max-width: 300px;
    align-self: center;
    padding-left: 20px;
    padding-right: 100px;


  @media screen and (max-width: 600px) {
    padding-right: 10px;
  }

  };

  & h2 {
    @include text(600, 30px, 110%, #FFF);
    @media screen and (max-width: 800px) {
      font-size: 16px;
    };
    @media screen and (max-width: 450px) {
      font-size: 12px;

    };

  }

  .greatingImg {
    align-self: auto;
    position: relative;


  }

  & img {
    height: 197px;
    @media screen and (max-width: 450px) {
      width: 98%;

    };
  }
}