.catalog{
  font-family: "Montserrat";
  .item{
    width: 300px;
    border-radius: 10px;
    & img{
      border-radius: 15px;
    }
    .itemName{
      padding:8px 0px 8px 16px;
    }
    .itemDescr{
      font-family: "Montserrat";
      font-size: 15px;
      text-align: start;

    }
  }
}

