@import '../../styles/mixins';

.catalogItem {
  position: relative;

  .item {
    border-radius: 10px;
    padding: 25px 25px 25px;
    max-width: 270px;
    @media screen and (max-width: 750px) {
      display: grid;
      grid-auto-rows: max-content;
      grid-template-columns: 1fr 2fr;
      max-width: 660px;
      padding: 0;
    };
    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr 1fr;
    };

    & img {
      border-radius: 30px;
      border: 3px solid #eaeaea;
      object-fit: cover;
      height: auto;
      max-width: 270px;
      @media screen and (max-width: 400px) {
      };
    }

    .itemNameDescr {
      .itemName {
        padding: 8px 0 8px 16px;
        transition: 0.7s;

        .arrow {
          &:hover {
            color: #f39d3e;
          }
        }
      }

      .itemDescr {
        font-size: 15px;
        font-weight: 600;
        text-align: start;

      }
    }

    .priceBtn {
      display: flex;
      font-family: Montserrat;
      justify-content: space-between;

      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: end;
      };
      @media screen and (max-width: 480px) {
        padding: 16px 0;
      };

      .price {
        display: inline-block;
        align-items: center;
        color: #f39d3e;
        align-self: center;
        @include text(500, 18px, 110%, #f39d3e);
        @media screen and (max-width: 750px) {
          align-self: end;
          padding-bottom: 10px;
          padding-right: 5px;
        }
      }
    ;
    }

    .btn {
      background-color: #f39d3e;
      border: none;
      width: 110px;
      border-radius: 25px;
      height: 35px;
      font-family: Montserrat;
      transition: 0.7s;
      @include text(400, 16px, 110%, #FFF);

      &:hover {

        background-color: grey;

      }
    }
  }

  .inputPhoneContainer {
    .inputPhone {
      width: 285px;
      height: 37px;
      border-radius: 25px;
      background-color: #D6D6D6;
      border: none;
      padding:0 14px;
      margin-top:5px;
      margin-bottom: 38px;
    }

    .labelPhone {
      opacity: 0.8;
      margin-left: 12px;
      font-size: 14px;
    }

    .inputPhoneBtn {
      width: 110px;
      background-color: #f39d3e;
      border: none;
      height: 35px;
      border-radius: 25px;
      font-family: Montserrat;
      transition: 0.7s;
      @include text(400, 16px, 110%, #FFF);

      &:hover {
        background-color: grey;

      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .button {
    border: none;
    height: 35px;
    border-radius: 25px;
    font-family: Montserrat;
    width: 110px;
    background-color: #eb3b3b;
    transition: 0.7s;
    @include text(700, 16px, 110%, #FFF);
    &:hover {
     opacity: 0.5;

    }
  }

}


