.catalogItem{
  font-family: "Montserrat";
  width: 330px;
  .item{

    border-radius: 10px;


    & img{
      border-radius: 30px;
      border: 3px solid #eaeaea;
      @media screen and (max-width: 400px) {
        width: 220px;
      };
    }
    .itemName{
      padding:8px 0px 8px 16px;
    }
    .itemDescr{
      font-family: "Montserrat";
      font-size: 15px;
      font-weight: 600;
      text-align: start;

    }
  }
}

