@import 'src/components/styles/mixins';
.catalog{

  font-family: Montserrat;

  .catalogContainer{
    //position: relative;
    //z-index: 1000;
    position: inherit;
    z-index: 1000;
    overflow-y: hidden;
  }
  .nameLink{
    display: flex;
    @include text(700, 18px, 110%, #101010);
    @media screen and (max-width: 750px) {
      justify-content:space-around;
    };
    .linkToCatalog{
      align-self: center;
      margin-left: 100px;
    }
  }


  .catalogItemMain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    &img{
      width: 20px;
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
      width: 95%;
    };
  }


}