.catalog{
  position: relative;

  .catalogItemMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 590px) {
      justify-content: center;



    };
  }
}