@import '../common/mixins.scss';
.headersPage{
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  .headersLogo{
    height: 80px;
    width: 130px;
    align-self: center;
    @media screen and (max-width: 600px) {
      width: 70px;

    };
  }
  .headersLinks a{
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 13px;
    transition: 0.7s;
    &:hover{
      background-color:#FFFFFF;
      box-shadow:
              inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 0px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.2);
    }
    @include text(500, 18px, 110%, #101010);
    @media screen and (max-width: 600px) {
      font-size: 12px;



    };

    .headersLink a.active{
      color: #000;
    }

  }
}
