@import '../../../styles/mixins';

.greatingService{
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;

  @include text(600, 30px, 110%, #000);
}
  .btn{
    background-color: #f39d3e;
    border: none;
    width: 110px;
    border-radius: 25px;
    height: 35px;
    font-family: Montserrat;
    transition: 0.7s;
    @include text(400, 16px, 110%, #FFF);

    &:hover {
      background-color: grey;



    }

}



.greatingPage {
  background-color: gray;
  border-radius: 30px;
  height: 197px;
  display: flex;
  justify-content: center;



  .greatingName {
    max-width: 300px;
    align-self: center;
    padding-left: 20px;
    padding-right: 100px;



  @media screen and (max-width: 600px) {
    padding-right: 10px;
  }

  };

  & h2 {
font-family: Montserrat;

    @include text(600, 30px, 110%, #f39d3e);
    @media screen and (max-width: 800px) {
      font-size: 25px;
    };
    @media screen and (max-width: 450px) {
      font-size: 25px;

    };

  }

  .greatingImg {
    align-self: auto;
    position: relative;
    @media screen and (max-width: 450px) {
      display: none;

    };


  }

  & img {
    height: 197px;
    @media screen and (max-width: 450px) {
      width: 98%;

    };
  }
}