.app{
  background-color:#EAEAEA;
  margin: 0 ;
  padding: 0;
  .centerApp{
    max-width:1960px;
    margin:0 auto;
    padding: 20px 100px;
    @media screen and (max-width: 1000px) {
      padding-left: 50px;
      padding-right: 50px;
    };

    @media screen and (max-width: 660px) {
      padding-left: 10px;
      padding-right: 10px;
    };
    .particles{
      position: absolute;
      top:0;
      right: 0;
      left: 0;
      bottom: 0;

    }


  };
  .catalogContainer{
    position: relative;
  }

}